#fundo{
	position:relative;
	width:800px;
	height:500px;
	background-color:#CCC;
	margin:auto;
}



#camada1 {
position: relative;
width: 800;
height: 25px;
border: 5px solid #F00;
background-color: #FF0;
text-align: center;
font-size: 10px;
padding: 10px;
}
	
#camada2 {
position: relative;
width: 408px;
height: 367px;
border: 5px solid #090;
background-color: #0F0;
text-align: center;
font-size: 10px;
padding: 10px;
float: left;
margin-left: 175px;
}
	
#camada3 {
position: relative;
width: 150px;
height: 110px;
border: 5px solid #009;
background-color: #0FF;
text-align: center;
font-size: 10px;
padding: 10px;
float: left;
}
#camada4 {
position: relative;
width: 150px;
height: 110px;
border: 5px solid #F00;
background-color: #0F0;
text-align: center;
font-size: 10px;
padding: 10px;
float: left;
}

#camada5 {
position: relative;
width: 770px;
height: 25px;
border: 5px solid #F00;
background-color: #FF0;
text-align: center;
font-size: 10px;
padding: 10px;
float: left;
}




/*

- nada
- -  FL FL
- CL
- - FL FL
- - CLFL CLFL
- CL
- NADA

*/