#s1 {
background:url(../parallax-arquivos/Imagens/Clue_Simple_Clouds.svg) 50% 0 no-repeat fixed;
}

#s1 article {
position:absolute;
top:450px;
width:100%;
}

#s1 img {
position:absolute;
left:15%;
}
#s1 #logo {
background:url(../parallax-arquivos/Imagens/smashing-logo.png)50% 100px no-repeat fixed;
padding:0;
margin:0;
width:100%;
min-height:1000px;
position:relative;
text-align:center;
}

#s2 {
background:url(../parallax-arquivos/Imagens/slide2.jpg)50% no-repeat fixed;
}

#s2 article {
background:
url(../parallax-arquivos/Imagens/grain.png) repeat fixed;
color:#fff;
font:14px Georgia;
width:445px;
margin-left:40px;
padding-top:10px;
padding-left:8px;
text-shadow:0 2px 0 rgba(0,0,0,0.5);
line-height:1.4em;
box-shadow: 0 0 8px rgba(0,0,0,0.8);
border:solid 1px rgba(150,150,150,0.3);
min-height:600px;
}

#s3 {
background:
url(../parallax-arquivos/Imagens/grain.png)  repeat fixed;
}

#s3 article {
background:
url(../parallax-arquivos/Imagens/slide3.jpg) 50% 0 no-repeat fixed;
color:#fff;
padding:10px 20px;
margin:10px 0 0 60%;
position:relative;
min-height:600px;
padding-top:10px;
padding-left:8px;
font:17px Georgia;
text-shadow:0 2px 0 rgba(0,0,0,0.5);
line-height:1.4em;
box-shadow: 0 0 8px rgba(0,0,0,0.8);
border:solid 1px rgba(150,150,150,0.3);
}

#s3 #foto {
background:
url(../parallax-arquivos/Imagens/photo.png) 30% 160px no-repeat fixed;
position:relative;
}

#s4 {
background:
url(../parallax-arquivos/Imagens/slide4.jpg) 50% 0 no-repeat fixed;
}

#s4 article{
background:
url(../parallax-arquivos/Imagens/grain.png) repeat fixed;
margin-left:10px;
width:300px;
color:#fff;
padding:10px;
font:17px Georgia;
min-height:700px;
text-shadow:0 2px 0 rgba(0,0,0,0.5);
line-height:1.4em;
box-shadow: 0 0 8px rgba(0,0,0,0.8);
}

#s4 #filme {
position:relative;
left:35%;
top:-600px;
width:640px;
box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

#s5 {
background:
url(../parallax-arquivos/Imagens/Clue_Simple_Clouds.svg) 50% bottom no-repeat fixed;
}

#s5 #fim {
background:
url(../parallax-arquivos/Imagens/theend.png) 50% 500px no-repeat fixed;
height:300px;
padding:0;
margin:0;
}

#img
{
	cursor:pointer;
}


