
@media (min-width:961px)
{

@charset "UTF-8";

@font-face {
    font-family: 'open_sanslight';
    src: url('font/OpenSans-Light-webfont.eot');
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Light-webfont.woff') format('woff'),
         url('font/OpenSans-Light.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: Light;


}

@font-face {
    font-family: 'open_sansregular';
    src: url('font/OpenSans-Regular-webfont.eot');
    src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Regular-webfont.woff') format('woff'),
         url('font/OpenSans-Regular.ttf') format('truetype'),
         url('font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: Regular;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('font/OpenSans-Semibold-webfont.eot');
    src: url('font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('font/OpenSans-Semibold.ttf') format('truetype'),
         url('font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 400;
    font-style: Semibold;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('font/OpenSans-LightItalic-webfont.eot');
    src: url('font/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('font/OpenSans-LightItalic.ttf') format('truetype'),
         url('font/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: 400;
    font-style: LightItalic;

}

* {
  font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}


html,body,main,header {
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    font: normal 13px; 
    overflow-x:hidden; 
    overflow-y:auto;  
    background: no-repeat center top; 
    background-color:#FFF;/*#F29724;*/
    font-family: Lato, 'Open Sans', sans-serif;
    width: 100%; 
    height: 100%; 
    text-align: left;   
}


#tudo{position: absolute; top: 0px; width: 100%; height: 100%; font-weight: 300;}


/*
-webkit-animation: rotating-function 1.25s linear infinite;
-moz-animation: rotating-function 1.25s linear infinite;
-ms-animation: rotating-function 1.25s linear infinite;
-o-animation: rotating-function 1.25s linear infinite;
animation: rotating-function 1.25s linear infinite;

@-webkit-keyframes rotating-function {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotating-function {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes rotating-function {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes rotating-function {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotating-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


---------

@-webkit-keyframes aumentar-function {
  from {
     -webkit-background-size: 100% 100%;
     background-position: center; 
  }
  to {
     -webkit-background-size: 180% 180%; 
     background-position: center; 
  }
}

@-moz-keyframes aumentar-function {
  from {
     -moz-background-size: 100% 100%;
     background-position: center;  
  }
  to {
     -moz-background-size: 180% 180%; 
     background-position: center; 
  }
}

@-ms-keyframes aumentar-function {
  from {
     -ms-background-size: 100% 100%;
     background-position: center; 
  }
  to {
     -ms-background-size: 180% 180%; 
     background-position: center; 
  }
}

@-o-keyframes aumentar-function {
  from {
     -o-background-size: 100% 100%;
     background-position: center; 
  }
  to {
     -o-background-size: 180% 180%; 
     background-position: center; 
  }
}

@keyframes aumentar-function {
  from {
     background-size: 100% 100%;
     background-position: center; 
  }
  to {
     background-size: 180% 180%; 
     background-position: center; 
  }
}



*/

/*  atributos gerais
------------------------------------------------------------------------------------------------------------------*/
/*input, textarea, form, label { font: normal 13px 'Trebuchet MS', Helvetica, sans-serif; color: #FFF;}*/
ol, ul { list-style: none;}
a {color: #666666; text-decoration: none;}
a:hover {text-decoration: underline;}
img {border: none;}
strong{font-family: 'open_sanssemibold';}

/*  padrao de hierarquia de titulos
------------------------------------------------------------------------------------------------------------------*/
h1 { font-size: 40px; width: 100%; color: #ffffff; font-family: 'open_sanslight';margin-top: 160px;float: left; text-align: left; padding-left: 30px;
}

/*  div gerais
------------------------------------------------------------------------------------------------------------------*/
#wrapperHome{width:100%; position: relative; float: left;}
section #home{ background: no-repeat top center; text-align: left; height: 720px; top: 170px; left: 0px; position: absolute; width: 100%; }

.espiral{

    position: absolute; top: 0px; left:0px; width: 100%; height: 100%; background: url('../images/home/bgP.png') no-repeat top center; 
    
    background-position:center; 

    -webkit-background-size: 180% 180%;
    -moz-background-size: 180% 180%;
    -ms-background-size: 180% 180%;
    -o-background-size: 180% 180%;
    background-size: 180% 180%;

    opacity: 1;

    
    -webkit-animation: aumentar-function 1s;
    -moz-animation: aumentar-function 1s; 
    -ms-animation: aumentar-function 1s ; 
    -o-animation: aumentar-function 1s ; 
    animation: aumentar-function 1s ; 
    
    
}

@-webkit-keyframes aumentar-function {
  from {
     opacity: 0.4; 
  }
  to {
     opacity: 1;
  }
}

@-moz-keyframes aumentar-function {
  from {
     opacity: 0.4; 
  }
  to {
     opacity: 1; 
  }
}

@-ms-keyframes aumentar-function {
  from {
     opacity: 0.4;
  }
  to {
     opacity: 1;
  }
}

@-o-keyframes aumentar-function {
  from {
     opacity: 0.4;
  }
  to {
     opacity: 1;
  }
}

@keyframes aumentar-function {
  from {
     opacity: 0.4;
  }
  to {
     opacity: 1;
     
  }
}



/*  topo
------------------------------------------------------------------------------------------------------------------*/
#contatoOver{width: 100%; position: absolute; z-index: 9999999; text-align: left; top: -268px; left: 0px; height: 255px; border-bottom: 13px solid #CCC; background: url('../images/bg_contato.jpg') no-repeat top center #000000; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    }
/*section#home #contatoOver{position: relative; float: left;}*/
#contatoOver p{float: left; height: 130px; margin-top: 50px; color: #ffffff; font-size: 15px;}
#contatoOver #mapa{margin: 23px 15px auto; width: 530px; height: 200px; float: right; }
#contatoOver #conteudoTpo{ top: 0px;}

#contentHead{position: absolute; width: 100%; left: 0px; z-index: 999999; height: 120px; background-color: #FFF;}
header{ float: left; width: 960px; height: 120px;}
header #logo{float: left; margin-top: 32px; width: 205px; margin-left: 0px; text-decoration: none; cursor: pointer; }

header nav{float: right; margin-top:30px; margin-right: 200px; width: 358px; height: 55px;}/*posicao do menu*/
header nav ul{float: left;}
header nav ul li{float: left; line-height: 40px; position: relative; margin-right: 40px; color: #363636; font-size: 16px; font-family: 'open_sansregular';}
header nav ul li:hover, header nav ul li.active{color: #FF6633; text-decoration: none; cursor: pointer;}

header nav ul li .seta{background: url('../images/seta_menu.png') no-repeat bottom right; width: 72px; height: 24px;}

header nav ul li .submenu{float: left; display: none; position: absolute; top: 29px; width: 200px;}
header nav ul li .submenu ul{float: left; width: 160px; background: #ffffff;}
header nav ul li .submenu ul li{float: left; color: #666666; font-size: 14px; text-align: left; width: 200px; margin-left: -40px; height: 37px; line-height: 37px; border-bottom:1px solid #e3e3e3;}
header nav ul li .submenu ul li.first{border-bottom: 13px solid #F09721; width: 200px; height: 45px;} 
header nav ul li .submenu ul li.last{border-bottom: 0px;}
header nav ul li .submenu ul li:hover{color: #FF6633;}

#subAg{margin-left:20px;}

header nav ul li#agenciaLink .submenu{left: -2px;}
header nav ul li:hover .submenu{display: block;}

header #complementoHead{ display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; float: right;  width: 206px; height: 137px; margin-top: -85px;}
header #complementoHead #linha1, header #complementoHead #linha2{border-left: 1px solid #CCC; height: 85px; width: 1px; margin-left: 10px; margin-right: 10px;}
header #complementoHead #contato{text-decoration: none; cursor: pointer; margin: 55px 10px auto; color: #CCC; font-size: 17px; font-family: 'open_sanslight_italic';height: 30px;}
header #complementoHead #contato:hover{text-decoration: none; cursor: pointer; color: #FF6633;}
header #complementoHead > #facebook, #in, #laboratorio{ text-decoration: none; cursor: pointer; margin: 57px 2px auto; height: 22px;}
header #complementoHead > #facebook:hover, #in:hover, #laboratorio:hover{text-decoration: none; cursor: pointer; opacity: 0.5;}

/*  Comtato Conteudo Home
------------------------------------------------------------------------------------------------------------------*/
.content{  width: 960px; position: relative; margin:0px auto;}
.contentHome{  width: 100%; position: relative; margin:0px auto;}
.contentRodape{ width: 100%; position: relative; margin:0px auto;}


#textoPrincipal{color: #FFF; text-decoration: none; cursor: pointer; font-size: 45px; font-family: 'open_sanslight';}
#textoPrincipalMetodo{color: #FFF; text-decoration: none; cursor: pointer; font-size: 24px; font-family: 'open_sanslight';}
#textoSecundario{color: #524743; text-decoration: none; cursor: pointer; font-size: 21px; font-family: 'open_sansregular';margin-top: -8px;}

#home #textoA
{
    width: 300px;
    margin: 197px 100px auto;
    text-align: right;
    position: relative;
}

#home #textoA:hover{text-decoration: none; cursor: pointer; opacity: 0.5;}

#home #textoB
{
    width: 300px;
    margin: 384px 63% auto;
    text-align: left;
    position: absolute;
}

#home #textoB:hover{text-decoration: none; cursor: pointer; opacity: 0.5;}

#home #textoC
{
    width: 140px;
    height: 40px;
    margin: 92px 44px auto;
    text-align: center;
    position: absolute;
}

#home #textoC:hover{text-decoration: none; cursor: pointer; opacity: 0.5;}

#home #curva1
{
    width: 100%;
    height: 705px;
    margin: 0px auto;
    background: url('../images/home/bgHome1.png') no-repeat top center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    z-index: 0; 
    
}

#home #metodo
{
    width: 238px;
    height: 238px;
    margin: -474px auto;
    background: url('../images/home/circulo_metodo.png') no-repeat top center;
    text-decoration: none;
    cursor: pointer;
}





/*Conteudo*/

#conteudo{top: 120px; left: 0px; position: absolute; width: 100%; height: 100%;}

#s1{width: 100%; height: 1650px; background-color:#ef9421;} 
#s2{width: 100%; height: 1500px; background-color:#FFF; font-weight: 300;}


#s3,#s4,#s5{ width: 100%; height:1000px; background-color:#FFF;} 

#topo
{
    width: 100%;
    height: 191px;
    margin: -2px auto;
    background: url('../images/topo_geral.png') no-repeat top center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

#sombraTopo{
    width: 100%;
    height: 69px;
    margin: 0px auto;
    background: url('../images/sombra_superior_agencia.png') no-repeat top center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

#sombraRodape{
    width: 100%;
    height: 69px;
    margin: 0px auto;
    background: url('../images/home/sombra2.png') no-repeat top center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

}

#tituloTxt
{
    font-size: 40px;
    font-family: 'open_sanslight';
    color: #FFF;
    margin: auto;
    width: 960px;
    padding-top: 105px;

}

#agencia, #redeColaboradores, #portfolio, #clientesParceiros
{
    width: 960px;
    height: 100%;
    margin: -85px auto;

}

#centroAg{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  clear: left;
  padding-top: 75px;

}

#descAg{
    font-size: 15px; 
    width: 480px; 
    color: #ffffff; 
    font-family: 'open_sanslight'; 
    clear:left; 
    text-align:left; 
    
    font-size: 13px;
}

#fotoAg
{
  width: 367px;
  height: 262px;
  margin: 17px 0px 0px 90px;
  border: 1px solid #656565; 

}

#agenciaAll{

    width: 100%;
    margin: auto;
    background: url('../images/agencia_comtato.png') no-repeat top center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    
}

#atuacao{

    width: 100%;
    height: 954px;
    margin: auto;
    margin-top: 300px;
    
}

/*
#atuacao{

    width: 100%;
    height: 954px;
    margin: auto;
    margin-top: 360px;
    background: url('../images/agencia_comtato.png') no-repeat top center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    
}*/

#txtAtuacao
{
  font-family: 'open_sanslight';
  font-size: 35px;
  margin: -25px auto;
  text-align: center;
  width: 100%;
  color: #FF6633;
  position: absolute;
}

#box1Atuacao, #box2Atuacao
{
  width: 960px;
  margin: auto;
  padding-top: 70px;
}

#atuacaoTituloR
{
  font-family: 'open_sanslight';
  font-size: 40px;
  margin: auto;
  text-align: left;
  color: #FFF;
}

#atuacaoSubtituloR
{
  font-family: 'open_sanssemibold';
  font-size: 18px;
  margin: -7px auto;
  text-align: left;
  color: #000;

}

#atuacaoTxtR
{
  font-family: 'open_sanslight';
  font-size: 15px;
  margin: 15px auto;
  text-align: left;
  color: #000;
}

#graAtuacao
{
  width: 960px;
  height: 367px;
  margin: -177px auto;
  background: url('../images/grafico.png') no-repeat center center;
}

#atuacaoTituloI
{
  font-family: 'open_sanslight';
  font-size: 40px;
  margin: auto;
  text-align: right;
  color: #FFF;
}

#atuacaoSubtituloI
{
  font-family: 'open_sanssemibold';
  font-size: 18px;
  margin: -7px auto;
  text-align: right;
  color: #000;

}

#atuacaoTxtI
{
  font-family: 'open_sanslight';
  font-size: 15px;
  margin: 15px auto;
  text-align: right;
  color: #000;
}

#campAt
{
  font-family: 'open_sanslight';
  font-size: 35px;
  margin: 70px auto;
  text-align: center;
  width: 100%;
  color: #FF6633;
  position: absolute;
}

#descCampAt
{
  font-family: 'open_sanslight_italic';
  font-size: 25px;
  margin: 129px auto;
  text-align: center;
  width: 100%;
  color: #FFF;
  position: absolute;
}

/*Metodo*/
#metodo
{
  width: 960px;
  height: 1000px;
  margin: 50px auto;
}

#colunaAmetodo
{
  width: 480px;
  float: left;
  margin: auto;
  text-align: center;
}

#textoMet2
{
  color: #FF6633;
  font-size: 27px
}

#graficoMet
{
  width: 480px;
  height: 400px;
  margin: 50px auto;
  background: url('../images/grafico-2.png') no-repeat center center;
}

#colunaBmetodo
{
  width: 480px;
  float: right;
  margin: auto;
}

#boxCinzaMet
{
  width: 400px;
  float: right;
  margin: auto;
  background: rgb(241,241,241);
  border-left: 1px solid #FF6633;
  padding: 15px 30px;
}

#boxInf1Mei
{
  width: 480px;
  float: right;
  margin: 20px auto;
}

#textoMet4
{
  clear: right;
  float: left;
  text-align: right;
}
#textoMet4 span
{
  color: #FF6633;
  font-size: 25px;
}

#boxInf2Mei
{
  width: 960px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; 
  margin: auto;
  text-align: center;
  clear: left;
}

#linhaH3Met
{
  width: 795px;
  height: 2px;
  border-top: 1px solid #FF6633;
  position: absolute;
  margin-top: 122px;
  margin-left: 165px;
}

#balao1
{
  width: 320px;
  height: 200px;
  margin: 47px auto;
  position: absolute;
  margin-bottom: 10px;
  background: url('../images/balao1.png') no-repeat top center;

}

#textoMet5
{
  font-weight: 300;
  font-size: 16px;
  margin-top: 230px;
  width: 320px;
  height: 189px;
}

#balao2
{
  width: 320px;
  height: 200px;
  margin: 47px auto;
  margin-bottom: 10px;
  background: url('../images/balao2.png') no-repeat top center;
  position: absolute;
}

#balao3
{
  width: 320px;
  height: 200px;
  margin: 47px auto;
  margin-bottom: 10px;
  background: url('../images/balao3.png') no-repeat top center;
  position: absolute;
}

#bannerMet
{
  width: 100%;
  height: 140px;
  margin-top: 125px;
  background-color: #f1f1f1;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

#conteudoBanner
{
  width: 960px;
  height: 140px;
  margin: auto;
  padding: 10px 20px;
}

#textoBanner
{
  float: left;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  margin-left: 70px;
  margin-top: 10px;
}

#logoBanner
{
  width: 215px;
  height: 78px;
  float: right;
  background: url('../images/logoLab.png') no-repeat top center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  margin-right: 130px;
  margin-top: 10px;
}

#linhaHMet
{
  width: 132px;
  height: 2px;
  border-top: 1px solid #FF6633;
  float: right;
  margin: -17px -25px;
}

#linhaV2Met
{
  width: 116px;
  height: 2px;
  border-top: 1px solid #FF6633;
  float: right;
  margin: 19px 364px;
  position: absolute;
}

#linhaH2Met
{
  width: 2px;
  height: 196px;
  border-right: 1px solid #FF6633;
  float: right;
  margin-top: 19px;
}

#textoMet1
{
  margin-top: -6px;
}

#textoMet3{color:#666666; font-size: 16px;}
#textoMet3 span{
  color:#333333;
  font-size: 20px;
}






/*  rodape
------------------------------------------------------------------------------------------------------------------*/
footer{float:left; width: 100%; left: 0px;   position: fixed; z-index: 9999; bottom: 0px; height: 90px}
footer #rodape{width: 100%; background: #333333; height: 90px; float: left;}
footer #rodape #localizacao{width: 485px; height: 40px; margin: 25px 0px auto; color: #9D9D9D; text-decoration: none; font-size: 11px; font-family: 'open_sanslight';}
footer #rodape #localizacao a:hover{color: #FFF; text-decoration: none; cursor: pointer;}


footer ul{float: left;margin-left: 160px;}
footer ul li{float: left; padding-right: 40px; margin-left: 20px; font-size: 14px; line-height: 52px; color: #ffffff; font-family: 'open_sanssemibold';}
footer ul li a{color: #ffffff;}
footer ul li.last{background: none;}

.redesRD{width: 130px; height: 35px; margin: -25px 8px auto; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; float: right;}
.redesRD div{ width: 35px; height: 35px;}
.redesRD #facebookRD{background: url('../images/facebook_rodape.png') no-repeat top center;}
.redesRD #inRD{background: url('../images/in_rodape.png') no-repeat top center;}
.redesRD #laboratorioRD{background: url('../images/lab_rodape.png') no-repeat top center;}
.contentRodape #designideias{background: url('../images/designideia.png') no-repeat top center; margin: 42px 97% auto; height: 17px;width: 16px; position: absolute;}

.redesRD #facebookRD:hover{opacity: 0.5; text-decoration: none; cursor: pointer;}
.redesRD #inRD:hover{opacity: 0.5; text-decoration: none; cursor: pointer;}
.redesRD #laboratorioRD:hover{opacity: 0.5; text-decoration: none; cursor: pointer;}
.contentRodape #designideias:hover{opacity: 0.5; text-decoration: none; cursor: pointer;}


}


