@media (min-width:321px) and (max-width:480px)
{

body
{
	background-color: #000;
	font-family     : tahoma;
}


main
{
	position        : relative;
	width           : 320px;
	height          : auto;
	/*background-color: #ccc;*/
	margin          : auto;
}

#topo
{
	position        : relative;
	width           : 320px;
	height          : 100px;
	/*background-color: #CFC;*/
	text-align      : center;
	color           : #FFF;
}

#menu_suspenso
{
	position        : relative;
	width           : 328px;
	height          : 30px;
	/*background-color: #CFF;*/
	margin-top      : 30px;
}

#menu_suspenso a
{
	width           : 140px;
	background-color: #006;
	text-align      : center;
	float           : left;
	padding         : 10px;
	color           : #FFF;
	text-decoration : none;
	margin:2px
}

#menu_suspenso a:hover
{
	background-color: #FFF;
	color           : #006;
}

#lateral_esquerda
{
	position        : relative;
	width           : 100px;
	height          : 400px;
	/*background-color: #FBF;*/
	float           : left;
}

#lateral_esquerda nav a
{
	width           : auto;
	display         : block;
	background-color: #CCF;
	padding         : 20px 8px 20px;
	color           : #009;
	text-decoration : none;
	border-bottom   : 1px solid #009;
}

#lateral_esquerda nav a:hover
{
	background-color: #000;
	color           : #FFF;
	border-color    : #F00;
}

#meio
{
	position        : relative;
	width           : 220px;
	height          : 400px;
	/*background-color: #FBB;*/
	float           : left;
}

#meio header
{
	position  : relative;
	width     : auto;
	height    : 70px;
	text-align: center;
	/*background-color: #FFC;*/
	margin: 0px;
}

h2
{
	margin: 0px;
	color : #FFF;
}

#imagem1
{
	position:relative;
	width: auto;
	height: 200px;
	background-color: #CFC;
	background-image:url(imagens/ferrari.jpg);
	background-position: -20px -100px;
}

.texto1
{
	position        : relative;
	width           : auto;
	height          : 87px;
	padding         : 5px;
	background-color: #333;
	font-size       : 12px;
	text-align      : justify;
	color           : #FFF;
	/*overflow:auto; => barra de rolagem*/
}

#publicidade
{
	position        : relative;
	width           : 200px;
	height          : 480px;
	background-color: #BBF;
	float           : left;
	display:none;
}

aside
{
	width : 200px;
	height: 480px;
}

#publicidade img
{
	width : 100%;
	height: 100%;
}


#imagem2, #texto2, #imagem3
{
	position        : relative;
	width           : 57px;
	height          : 80px;
	margin          : 8px;
	background-color: #BBF;
	float           : left;
}

#imagem2{ background-image: url(imagens/fundo08.jpg);}
#imagem3{ background-image: url(imagens/fundo05.gif);}
#texto2
{
	font-size:12px;
	text-align:center;
}

}