@charset "UTF-8";

html, main, body
{
	padding:0;
	margin:0;
	border:0;
	outline:0;
	font-family: 'lucida grande';
}
		
/* 
*{
	padding:0;
	margin:0;
	border:0;
		}
		*/
		
main
{
	min-width:480px;
	max-width:device-width;
}
	 
header
{
	width:100%;
	height:100px;
	background-color:#3B5998;
}
		
#logotipo
{
	position:relative;
	width:190px;
	height:50px;
	background-image:url(facebook-fundo.png);
	background-repeat:no-repeat;
	background-position:20px -480px;
	margin-top:20px;  
	margin-left:100px;
	float:left;
}
		
#login > form
{
	width:500px;
	height:80px;
	float:right;
	display:flex;
	flex-direction:row; /* direção dos componentes linhas/colunas */
	align-items:center; /* alinhamento vertical e horizontal*/
	justify-content:space-around; /* espaçamento entre os componentes */
}
	
.bloco_topo
{
	width:160px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;	
	color:#FFF;
	font-size:11px;
}

.bloco_topo a, .bloco_topo a:visited 
{
	color:#8CA9CA;
	text-decoration:none;
}
	
.bloco_topo a:hover 
{
	color:#FFF;
	text-decoration:underline;
}

input[type="submit"]
{
	background-color:#5B74A8;
	width:60px;
	height:20px;
	font-size:13px;
	font-weight:bold;
	color:#fff;
	border:1px solid #29447E;
}
	
body
{
	background:url(fundo-gradiente.png);
	background-repeat:repeat-x;
}
	
h1
{
	color:#29447E;
	line-height:25px;
	margin:50px 100px;
	font-size:25px;
}
		
img
{
	margin:10px 100px;
}
	
#frase-h1
{
	float:left;
}
		
#cria_conta
{
	width: 450px;
	float:left;
	color:#141823;
	
	/*background-color:#FF0000;*/
}
	
#cria_conta h1
{
	padding: 5px;
	margin:20px 5px 0 0;
	color:#141823;
	font-size:36px;
}

#cria_conta h2
{
	font-size:15px;
	padding  : 5px;
	margin   :5px;
}	

#cria_conta input
{
	height : 40px;
	padding-left: 10px;
	border: 1px solid #BDC7D8;
	color:#DDD;
	border-radius:5px;
	

}

#cria_conta input[type="email"], 
#cria_conta input[type="password"]
{
	width:400px;
}

select
{
	width:65px;
	height:40px;
	margin-left:5px;
	float:left;
	color:#333;
}

button
{

	width:200px;
	height:30px;
	
	margin-top:20px;
	
	background: -webkit-gradient(linear, center top, center bottom, from(#67AE55), to(#578843));
	background-color:#69A74E;
	
	border: 1px solid;
	-webkit-border-shadow:inset 0 1px 1px #A4E388; /* tipo medidas medidas espessura cor*/
	border-color:#3B6E22 #3B6E22 #2C5115;/*cores diferentes para lados diferentes da borda*/
	font-size: 16px;
	font-weight:bold;
	color:#FFF;
	
	border-radius:5px;
	cursor:pointer;
	text-shadow:#333 0.1em 0.1em 0.2em;
}

#link-porque
{
	width:185px;
	float:left;
	margin-left:10px;
}

#link-porque a
{
	text-decoration:none;
	font-size:12px;
}
		
#link-porque a:hover
{
	text-decoration:underline;
}
		
		
		
		
		
		
		
		
		
		
		
		