 body{
	 padding: 0px;
	 margin-top:100px;
  }/* Este servirá para os dois arquivos */

 	/* relativo.htm */

 #col1, #col2, #col3 {
	float: left;
	width: 380px;
	height: 468px;
	}

 #col1{ background: #00ff00;
	}

 #col2{ background: #ff0000;
	}

 #col3{ background: #cc0000;
	}

	
	
	
	
	
	

	/* relativo_03_colunas.htm */

 #principal{margin-left: auto;margin-right: auto;	width: 760px;}
 #topo{
	float: left;
	height: 68px;
	width: 760px;
	background:#20b2aa;
	}
 #conteudo, #banner{
	float:left;
	height: 468px;
	}
 #menu {
	 float:left;
	 height: 468px;
	 width:100px;
	 padding: 0px;
	 background: #778899;
	 text-align: center;
	 }
	#menu ul {
		padding: 5px 5px 0px 5px;/* sequencia horaria iniciando do top; top-right-bottom-left */
		margin: 0px;
		list-style: none;
	}
	#menu ul li {
		display: inline;
	}
	#menu a {
		font-size: 12px;
		font-family: Tahoma;
		font-weight: bold;
		text-decoration: none;
		padding: 3px 5px 3px 5px;
		border-left: 5px solid #FF0000;
	}
	#menu a:hover {
		border-left-color: #FFCC33;
		color: #000000;
		text-decoration: underline;
	}
 #conteudo{width: 510px; background: #bebebe;}
 #banner{width: 150px; background: #778899;}
 #rodape {float: left; height: 20px; width: 760px; background: #20b2aa;}
 #dell, #americanas{
	background: #ffffff;
	font: 12px verdana;
	width:90%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	height:100px;
	}
	#dell p{
	margin: 0px;
	text-align: center;
	background: #cccccc;
	}
	#americanas p{
	margin: 0px;
	text-align: center;
	background: #cccccc;
	}