@charset "UTF-8";

@font-face{
	font-family: 'microsoft';
	src: url("../fonts/latest.woff");
}
html, body, main{
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: 'microsoft';
}
/***********************************************/
/***===============SMARTPHONE================***/
/***********************************************/
@media only screen and (max-width: 480px){
	#menu-smartphone, #menu-lupa{
		display: block;
	}
}
/***********************************************/
/***===============TABLET================***/
/***********************************************/
@media only screen and (min-width: 481px and max-width: 960px){
	#menu-smartphone, #menu-lupa{
		display: none;
	}
	#form-busca {
		border:solid 1px #969696;
		width: 15%;
		float: right;
	}
	input[type='search']{
		border:none;
		width: 90%;
		position: relative;
		float: left;
	}
	#lupa{
		width: 32px;
		height: 32px;
		position: relative;
		float: left;
	}
}





