#camada1{
	position:absolute; 
	top:50px; 
	left:100px; 
	width:170px; 
	height:100px; 
	border:2px solid #666; 
	background-color:#CCF; 
	text-align:center; 
	font-size:12px; 
	z-index:1;
}
	
#camada2{
	position:absolute; 
	top:100px; 
	left:150px; 
	width:170px; 
	height:100px; 
	border:2px solid #009; 
	background-color:#0FF; 
	text-align:center; 
	font-size:12px; 
	z-index:2;
}
	
#camada3{
	position:absolute; 
	top:150px; 
	left:200px;  
	z-index:3;
}