@charset"UTF-8";


#container
{
	width:800px;
	height:500px;
	border: 3px solid #FF0000;
	
	display:flex; /* coloca lado a lado os componentes -> flex trabalha alinhamento dwentro de um componente*/
	
	flex-direction: column; /*row direção em linha um ao lado do outro || column um abaixo do outro*/
	
	align-items: center; /*left center right -> alinhamento vertical quando linha (row) && alinhamento horizontal quando coluna (Columns)*/

	justify-content: space-between; /*space-around(distribui elementos) space-between(distribui elementos e cola extremos nas laterais)  center  Livro capitulo 17  -> alinhamento horizontal ou vertical e distribuição dos elementos no espaço -> referencia ao contrario de align-items*/
	
	
}

#container>div     /* na container SE eu tiver alguma div*/
{
	width: 100px;
	height: 100px;
	border: 1px solid #676767;
	background-color: #FF0;

}