@charset "UTF-8";

html,body,main,header {
	padding: 0;
	margin: 0;
	outline: 0;
}

header {
	min-width: 480px;
	max-width: 640px;
	height: 86px;
	background: url("../images/fundo-textura.png") repeat-x;
	display: flex;
	flex-direction: row;
	align-items: center;/* alinhamento vertical quando linha*/
	justify-content: space-around;/* alinhamento horizontal quando linha*/
/*flex-start, flex-end, center, space-around, space-between*/
	position: fixed;
	z-index: 1;
}

#galeria {
	top: 90px;
	position: relative;
}
header > div:nth-child(1) /*somente o primeiro*/
{
	order:3;
}
header > div{
	float: left;
}
.btn-menu {
	width : 100px;
	height: 50px;
	border: solid 2px #282D31;
	border-radius: 5px;
	background-color: #505c68;
	float: left;
}

.img-picture {
	-webkit-filter: invert(1); /* inverte cor da imagem*/
	width: 60px;
	height: 40px;
}

/*Criando as fontes*/
.white {
	color: #fff;
}
.font-small {
	font-size: 12px;
}
.font-medium {
	font-size: 20px;
}
.font-large{
	font-size: 45px;
}

/*Formatando a galeria*/

main {
	min-width: 320px;
	max-width: 1320px;
}

.foto {
	position: relative;
	/*min-width: 200px;
	max-width: 800px;
	min-height: 200px;
	max-height: 800px;*/
	width:200px;
	height:150px;
	border: solid 1px #ccc;
	margin: 5px;
	padding: 5px;
	float: left;
}

.foto:hover{
	box-shadow: 5px 5px 5px #777;
	cursor: pointer;
}


#galeria .foto img {
	width: 100%;
	height: 100%;
	}
	
#galeria .foto img:hover {
	-webkit-filter: none; 
	-webkit-transition: all 0.5s;
}

.grayscale {
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
}

.saturate {
-webkit-filter: saturate(3);
}

.sepia
{
	-webkit-filter: sepia(100%);
}

.invert
{
	-webkit-filter:invert(100%);
}

.blur
{
	-webkit-filter:blur(3px);
}

.opacity
{
	-webkit-filter:opacity(30%);
}

.brightness 
{
	-webkit-filter: brightness(0.25);
}

.contrast 
{
	-webkit-filter: contrast(80%);
}












/*Filter styles
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
*/

