body{
	padding:100px 20px;
		}
		
a{
	background-image:url(images/sol.png);
	background-position:50% 50%;
	width:100px;
	height:100px;
	display:inline-block;
	border-width:50px;
	border-color:rgba(0,0,0,0);
	border-radius:100%;
	box-sizing:border-box; /* aplica borda para dentro do componente */
	transition: 1s ease;
	}
	
a:hover{
	border-width:0px;
	border-color: rgba(0,0,0,0.5);
	}
	
.efeito_um{
		border-style:solid;	
		}
		
.efeito_dois{
		border-style:dotted;	
		}
		
.efeito_tres{
		border-style:dashed;	
		}
		
		
.efeito_quatro{border:50px solid rgba(0,0,0,0.7);}
.efeito_quatro:hover{border:1px solid rgba(0,0,0,0.7);}

.efeito_cinco{border:50px dashed rgba(0,0,0,0.7);}
.efeito_cinco:hover{border:1px dashed rgba(0,0,0,0.7);}

.efeito_seis{border:50px dotted rgba(0,0,0,0.7);}
.efeito_seis:hover{border:1px dotted rgba(0,0,0,0.7);}

.efeito_sete{border:50px double rgba(0,0,0,0.7);}
.efeito_sete:hover{border:1px double rgba(0,0,0,0.7);}

.efeito_oito, .efeito_nove, .efeito_dez{border-radius:0;}

.efeito_oito{border:50px solid rgba(0,0,0,0.7);}
.efeito_oito:hover{border:1px solid rgba(0,0,0,0.7);}

.efeito_nove{border:50px dotted rgba(0,0,0,0.7);}
.efeito_nove:hover{border:1px dotted rgba(0,0,0,0.7);}

.efeito_dez{border:50px dashed rgba(0,0,0,0.7);}
.efeito_dez:hover{border:1px dashed rgba(0,0,0,0.7);}




